.rounded.bg-white.dark:bg-dark-white.shadow.flex.flex-col.md:flex-row
  - if gift_card.badge.attached?
    .p-4.justify-center.md:max-w-xs
      = image_tag gift_card.badge

  .flex.justify-between.w-full.p-4.pr-1
    %div
      .font-bold.text-lg= gift_card.name

    .text-grey-foreground.dark:text-dark-grey-foreground.self-center
      = link_to gift_card, class: 'block p-2 hover:rounded-full hover:bg-grey-background dark:hover:bg-dark-grey-background' do
        = heroicon 'chevron-right', options: {class: 'w-6 h-6'}
