@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-sm;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-primary-dark font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    @apply mt-3;
  }

  h2 {
    @apply text-3xl;
  }

  h3, h4, h5, h6 {
    @apply text-xl mt-4;
  }

  button, input[type="submit"] {
    @apply cursor-pointer;
  }

  button.primary, .button.primary, input[type="submit"]:not(.text) {
    @apply inline-block bg-primary inline-flex items-center justify-center uppercase text-grey-foreground font-bold px-6 py-3;

    min-width: 10rem;
  }

  button.primary:hover, .button.primary:hover, input[type="submit"]:hover:not(.text) {
    @apply shadow;
  }

  button.text, .button.text, input[type="submit"].text {
    @apply inline-block uppercase text-grey-foreground font-bold;
  }

  button.text.danger, .button.text.danger {
    @apply text-danger;
  }

  header nav li {
    @apply inline-block;
  }

  header nav li + li {
    @apply pl-6;
  }

  header nav li a {
    @apply text-grey-foreground;
  }

  header nav li a.active {
    @apply font-bold;
  }

  svg.non-scaling-stroke * {
    vector-effect: non-scaling-stroke;
  }


  .input {
    @apply mt-6;
  }

  label {
    @apply font-bold uppercase text-grey-foreground block;
  }

  input[type="text"], input[type="email"], input[type="password"], input[type="datetime-local"], input[type="date"] {
    @apply rounded shadow border-none w-full;
  }

  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    @apply outline outline-primary outline-offset-0 border-0;
  }

  select {
    @apply border-none w-full shadow;
  }

  .hint {
    @apply text-sm text-grey-foreground;
  }

  label + input, label + select {
    @apply mt-2;
  }

  .form-actions {
    @apply mt-16 flex justify-end items-end gap-2;
  }

  .form-actions .button.text {
    @apply mb-2;
  }

  .button.text.toggle {
    @apply font-normal;
  }

  .button.text.toggle.active {
    @apply font-bold;
  }

  .barcode svg {
    @apply w-full max-w-md;
  }
}
