.flex.justify-between
  %ul.p-6
    %li= link_to t('navigation.coupons'), coupons_path

  %ul.p-4.pr-6.flex.items-center
    %li
      = link_to user_path, title: t('navigation.account'), class: 'block' do
        = heroicon :user, options: {class: 'w-6 h-6'}
