.flex.justify-between
  %ul.p-6
    %li= link_to t('navigation.coupons'), coupons_path, class: class_names(active: params[:controller] == 'coupons')
    %li= link_to t('navigation.loyalty_cards'), loyalty_cards_path, class: class_names(active: params[:controller] == 'loyalty_cards')

  %ul.p-4.pr-6.flex.items-center
    %li
      = link_to user_path, title: t('navigation.account'), class: 'block' do
        = heroicon :user, options: {class: 'w-6 h-6'}
